<div id="<%= dom_id reminder %>">
  <p>
    <strong>Title:</strong>
    <%= reminder.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= reminder.body %>
  </p>

  <p>
    <strong>Scheduled time:</strong>
    <%= reminder.scheduled_time %>
  </p>

  <p>
    <strong>Scheduled day:</strong>
    <%= reminder.scheduled_day %>
  </p>

</div>
